.main td{ padding: 5px 3px;}
.title{font-size: 16px;font-weight: bold; height:35px; line-height:35px;}
.newpassowrd td{padding: 1px 3px;}
.inputtxt{color:#444444;}
.inputfloat {float:left;margin:0 0 0 10px; }
.passW {float:left;position:relative;margin-top:4px;}
.passW_w {display:block;width:48px;height:6px; overflow:hidden; border:1px solid #d0d0d0;}
.passW_t {position:absolute;top:11px;left:20px;font-family:"宋体";color:#666;}
.passW_curr .passW_t{color: red;}
.passW_curr .passW_w{background-color:#3300ff;}
