<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>component_da</display-name>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:applicationContext*.xml
        </param-value>
    </context-param>
    <filter>
        <filter-name>struts2cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
    </filter>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2cleanup</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/interaction/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/online/*</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>counterServlet</servlet-name>
        <servlet-class>com.ewcms.component.counter.web.CounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>counterServlet</servlet-name>
        <url-pattern>/counter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>commentCounterServlet</servlet-name>
        <servlet-class>com.ewcms.component.comment.web.CounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>commentCounterServlet</servlet-name>
        <url-pattern>/commentCounter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>commentInputServlet</servlet-name>
        <servlet-class>com.ewcms.component.comment.web.InputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>commentInputServlet</servlet-name>
        <url-pattern>/commentInput</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>com.ewcms.component.checkcode.web.ImageCaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/checkcode.jpg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>interactionJavaScript</servlet-name>
        <servlet-class>com.ewcms.component.interaction.web.servlate.JavaScriptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>interactionJavaScript</servlet-name>
        <url-pattern>/interaction/main.js</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>onlineJavaScript</servlet-name>
        <servlet-class>com.ewcms.component.online.web.servlate.JavaScriptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>onlineJavaScript</servlet-name>
        <url-pattern>/online/main.js</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>citizenJavaScript</servlet-name>
    	<servlet-class>com.ewcms.component.citizen.web.servlate.JavaScriptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>citizenJavaScript</servlet-name>
    	<url-pattern>/citizen/main.js</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hotJavaScript</servlet-name>
        <servlet-class>com.ewcms.component.hot.web.JavaScriptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hotJavaScript</servlet-name>
        <url-pattern>/hot/main.js</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rssServlet</servlet-name>
        <servlet-class>com.ewcms.component.rss.web.RssServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rssServlet</servlet-name>
        <url-pattern>/rss</url-pattern>
    </servlet-mapping>
    <!--  
    <error-page>
        <error-code>404</error-code>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>
    -->
</web-app>
